.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
}
.header {
  display: flex;
  flex: .5;
}
.logo {
  display: flex;
  flex: 3;
  align-items: center;
  background-color: black;
}
.switch {
  display: flex;
  flex: 1;
  align-items: center;
  background-color:black;
}
.image {
  width: 180px;
  height: 95px;
}
.content {
  display: flex;
  flex: 5;
  background-color: yellow;
}
.footer {
  display: flex;
  flex: .5;
  justify-content: center;
  align-items: center;
  background-color: black ;
}
.menu-button {
  height: 50px;
  width: 120px;
  border-radius: 15px;
}
p {
  color: white;
}
.button {
  height: 40px;
  width: 120px;
  border-radius: 12px;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex; 
}
.button:hover {
  background-color: rgb(188, 184, 184)    ;
}